<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOfRnQPOspu5kromi8lKqzDmOEInT_pNY</string>
	<key>GCM_SENDER_ID</key>
	<string>1013991760042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zofaClient</string>
	<key>PROJECT_ID</key>
	<string>zofa-5c07c</string>
	<key>STORAGE_BUCKET</key>
	<string>zofa-5c07c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013991760042:ios:7fc326e6bc6becb6fe70d3</string>
</dict>
</plist>